body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #333;
}

button {
    background-color: #340086;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #340086;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#mensaje {
    margin-top: 15px;
    color: rgb(2, 128, 201);
    font-weight: bold;
}
